
<p class="lead mb-3">Visit us soon <%= name %></p>
<a href="/users/logout" class="btn btn-secondary">Logout</a>
<a href="http://localhost:5000/loggedin.html" class="btn btn-secondary">Go to website</a>
